.teamcard {
    width: 389.14px;
    margin: 1%;

}

.parentteam{
    margin:5%;
    margin-top: 90px;
}

@media screen and (width< 480px) {
    .teamcard{
        width:90%;
        height: auto;
    }
    
}